# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

**Numbers:** numbers contains integer and floating point values just like eg. 1, 2.5

**Strings:** string is a sequence of characters for eg. 'Hello'

**Lists:** lists consist of a different elements of different data types.eg. [1,2,'text']

**Tuples:** tupels also contains different object types, unlike the lists they are immutable, means you can not reassign them. eg. ('first', 2)

**Dictionaries:** dictionaries contains the mapping of key-value. eg. {'key1': 'first', 'key2': 'second'}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [36]:
(((100.25 - 1 + 1) * 1) / 1) ** 1

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

it will produce 0 instead of 0.666666666666, because python2 by default does the classic division where python3 module will do the true division. there are two ways to get exact result

1. first either you can convert the one of the integer to the float using `float()` function
2. or you can import the division function from __future__ module to use the new python3 approach

In [3]:
2/3

0

In [5]:
# corrected version 1
float(2)/3

0.6666666666666666

In [6]:
# corrected version 2
from __future__ import division

2/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [7]:
print 4 * (6 + 5)
print 4 * 6 + 5
print 4 + 6 * 5

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?

Float

What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
# Square root
print 4 ** 2

# Square root
print 4 ** 0.5

16
2.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [9]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

Reverse the string 'hello' using indexing:

In [10]:
s ='hello'

# Reverse the string using indexing

# Code here
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [15]:
s ='hello'

# Print out the

# Code here
print s[4]
print s[-1]

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [19]:
my_list = [0,0,0]
print my_list

second_list = [0]
second_list += [0,0]
print second_list

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [21]:
l = [1,2,[3,4,'hello']]

l[2][2] = 'goodbye'

print l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [23]:
l = [5,3,4,6,1]

l.sort()

l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [24]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [25]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [27]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [28]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

# grab hello
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

no we can not sort the dictionary, because dectionary contains key value pair so it does not contains any order.

## Tuples

What is the major difference between tuples and lists?

unlike the lists tuples are immutable, means you can not reassign the values

How do you create a tuple?

```python
t = (1,2,3)
```

## Sets

What is unique about a set?

set is an unorder list of a unique objects it can not have repeated element

Use a set to find the unique values of the list below:

In [29]:
l = [1,2,2,33,4,4,11,22,3,3,2]

# answer
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [30]:
# Answer before running cell
# Answer : False
2 > 3

False

In [31]:
# Answer before running cell
# Answer : False
3 <= 2

False

In [32]:
# Answer before running cell
# Answer : False
3 == 2.0

False

In [33]:
# Answer before running cell
# Answer : True
3.0 == 3

True

In [34]:
# Answer before running cell
# Answer : False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [35]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
# 3 >= 4 : False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!