## Strings

In [1]:
# specify string using sinle quotes or double quotes.
'Hello World'

'Hello World'

In [2]:
# Excape single quotes withing single quotes string
'I\'m good'

"I'm good"

In [3]:
"I'm good"

"I'm good"

In [5]:
'"This is within quotes"'

'"This is within quotes"'

In [6]:
# we can't print both the string at once in jupyter, it takes the last one.
'Hello world1'
'Hello world2'

'Hello world2'

In [7]:
# Use print function
print 'Hello World1'
print 'Hello World2'

Hello World1
Hello World2

In [8]:
# Use \n for line break
print "This is first statement & \nthis is the second one"

This is first statement &
this is the second one

In [9]:
# Use \t to add tab
print "This is first statement &\tThis is the second one after tab."

This is first statement &	This is the second one after tab.

## Python3 Alert

in python3 print is a not statement anymore, it becomes a function `print()`, just like the below.

In [10]:
from __future__ import print_function

In [11]:
print('Hello World! from python3')

Hello World! from python3

## Calculating the length of a String

In [12]:
len('Quick brown fox jumps over lazzy dog.')

37

## String indexing

String is series of sequence of a character, python allow us to access idividual elements from that sequence using string indexing.

In [13]:
s = 'Hello World'

In [14]:
s

'Hello World'

In [15]:
# Get first letter
s[0]

'H'

In [16]:
s[1]

'e'

In [17]:
s[2]

'l'

We can use : for slicing to grab everything up to a designated point.

In [18]:
# grab everything except first letter
s[1:]

'ello World'

In [19]:
# grab everything upto three letters
s[:3]

'Hel'

In [20]:
# s will remain same
s

'Hello World'

In [21]:
# grab everything
s[:]

'Hello World'

In [22]:
# grab last letter
s[-1]

'd'

In [24]:
# grab everything except last letter
s[:-1]

'Hello Worl'

In [25]:
# grab everything by step size 1
s[::1]

'Hello World'

In [27]:
# grab everything by step size 2
s[::2]

'HloWrd'

In [28]:
# we can use this to pring reverse string
s[::-1]

'dlroW olleH'

In [29]:
s

'Hello World'

In [30]:
# lets change first letter to x : the error is important
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [31]:
s

'Hello World'

In [32]:
# concatenate string
s + ' concatenate me!'

'Hello World concatenate me!'

In [33]:
s = s + ' concatenate me!'

In [34]:
s

'Hello World concatenate me!'

In [35]:
print(s)

Hello World concatenate me!

In [40]:
# use multiplication symbole to repeat the character
letter = 'zz'

In [38]:
letter

'z'

In [41]:
letter * 10

'zzzzzzzzzzzzzzzzzzzz'

## Basic built-in string methods

In [42]:
s

'Hello World concatenate me!'

In [43]:
# upper case letters
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [44]:
# lower case letters
s.lower()

'hello world concatenate me!'

In [45]:
# split the string by blank spaces
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [46]:
# split by a perticular letter
s.split('e')

['H', 'llo World concat', 'nat', ' m', '!']

In [48]:
print('insert another string with currely brackets : {} but will also contiue further'.format('Here is a inserted string.'))

insert another string with currely brackets : Here is a inserted string. but will also contiue further